@import '../../styles/shared.scss';
/*
  The .ui.menu is needed otherwise there's a more specific rule from semantic UI
  we use this rule to tweak the SCSS
*/
.dropdown{
  color: white;
  font-size: 20px;
  font-family: Roboto, Arial, sans-serif;
}

.dropitem {
  max-width: 300px;
  
}

.ui.menu.top-menu {
  background: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(40px);
  border: none;
  height: $header-nav-height;
  .logo {
    width: $sidebar-left-width;
  }
  .nav-container {
    flex-grow: 1;
    padding: 0;

    .search-input {
      padding-left: 0;
      width: 33%;

      form {
        width: 100%;
      }
    }
  }

  .header-icon {
    color: white;
  }
}

/* .burger-top{
  color: #a970ff;
} */

.noHover{
  background-color: inherit;
  border: none;
}

