@import '../../styles/shared.scss';

.home {
 /*  padding-left: $sidebar-left-width; */
  width: 100%; /* calc(100% - $sidebar-left-width); */
 /* position: relative;*/
  padding-top: 0px;
  margin-top: 0px;
  display: inline-block;   
  background-color: #fafafa;
}

.homenarrow {
  margin-left: $sidebar-left-shrinked-width;
 /*  width: calc(100% - $sidebar-left-shrinked-width); */
 /* position: relative;*/
  padding-top: 0px;
  margin-top: 0px;
  display: inline-block;   
  background-color: #fafafa;
}

.channel-info {
  display: flex;
  margin-left: 20px;
  background-color: white;
  justify-content: space-between;  
  padding: 20px;
}

.tabmenu {
  margin-left: 20px;
  display: Inline-block;
  width: 100%;
}

.avatarblock{
  display: inline;
  width: 100px;
  height: 100px;
  vertical-align: middle;  
}

.descriptionblock{
  display: Inline-block;
  width: 300px;  
  vertical-align: middle;
  flex-grow: 1;
  padding-left: 10px;
  
}

.buttonblock{
  display: block;
  width: 350px;  
  
}



.mainImg {
  position: relative;
  padding-top: 0px;
  margin-top: 0px;
}



.aboutprofile {
  color: #616161;
  font-size: 14px;
  padding-right: 30px;
}

.bigger {
  font-size: 20px;
}



@media all and (min-width: 476px) {
  .responsive-video-grid-container {
    max-width: 240px;
  }
}

@media all and (min-width: 700px) {
  .responsive-video-grid-container {
    max-width: 472px;
  }
}

@media all and (min-width: 900px) {
  .responsive-video-grid-container {
    max-width: 667px;
  }
}

@media all and (min-width: 1096px) {
  .responsive-video-grid-container {
    max-width: 864px;
  }
}

@media all and (min-width: 1370px) {
  .responsive-video-grid-container {
    max-width: 1096px;
  }
}

@media all and (min-width: 1370px) {
  .responsive-video-grid-container {
    max-width: 1096px;
  }
}

@media all and (min-width: 1560px) {
  .responsive-video-grid-container {
    max-width: 1284px;
  }
}
