@import "~react-image-gallery/styles/scss/image-gallery.scss";


.description{
    font-size: 15px;
    padding-top: 10px;
    display: inline-block;
}


.description div {
    padding-bottom: 20px;
}