@import "~react-image-gallery/styles/scss/image-gallery.scss";


.description{
    font-size: 15px;
    padding-top: 10px;
    display: inline-block;
}


.description div {
    padding-bottom: 20px;
}

.wrapped{
    /* overflow-x: scroll;
    overflow-y: hide; */
    flex-direction: row;
    flex-wrap: wrap;
  }