@import '../../styles/shared.scss';

.arrowbutton {
  background-color: inherit;
  border: none;
  color: rgba(22,24,35,0.5);
}

.channelcard {
  border: 1px solid rgba(22,24,35,0.12);  
  width: 242px;
  height:280px;
  padding: 32px 12px;
}

.channelcard * { 
  margin: 12px auto 0;
  text-align: center;
}

.channelcard h3 { 
  
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "proxima-semibold",PingFangSC,sans-serif;
  font-weight: 600;
}

.channelcard h4, .channelcard div {
  font-size: 15px;
  margin-top: 0px;
    line-height: 18px;
    color: rgba(22,24,35,0.5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}