@import '../../styles/shared.scss';

.categories {  
  padding: 20px;
 
  width: 100%;
  display: inline-block;  
}

.groupcard{
  padding-bottom: 10px;
}

.groupheading{
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 14px;
  padding-bottom: 0px;
  font-family: Inter, Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.groupviewers a{
  padding: 0px;
  font-size: 13px;
  margin: 0px;
  font-family: Inter, Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration-color: rgb(83, 83, 95);
  color: rgb(83, 83, 95);
}

.grouptags button{
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.7);
  font-family: Inter, Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-right: 5%;
}


.category {
  background-color:#772ce8;
  width: 100%; 
  border: none;
  color: white;
  padding: 15px 12px;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 26px;
  border-radius: 4px;
  margin-bottom: 6px;
}

@media all and (min-width: 476px) {
  .responsive-video-grid-container {
    max-width: 240px;
  }
}

@media all and (min-width: 700px) {
  .responsive-video-grid-container {
    max-width: 472px;
  }
}

@media all and (min-width: 900px) {
  .responsive-video-grid-container {
    max-width: 667px;
  }
}

@media all and (min-width: 1096px) {
  .responsive-video-grid-container {
    max-width: 864px;
  }
}

@media all and (min-width: 1370px) {
  .responsive-video-grid-container {
    max-width: 1096px;
  }
}

@media all and (min-width: 1370px) {
  .responsive-video-grid-container {
    max-width: 1096px;
  }
}

@media all and (min-width: 1560px) {
  .responsive-video-grid-container {
    max-width: 1284px;
  }
}
